/**********************Custom Properties *************/

:root {
  --first-color: navy;
  --first-alpha-color: rgba(32, 42, 68, 0.75);
  --second-color: #d3d3d3;
  --second-alpha-color: rgba(211, 211, 211, 0.75);
  --third-color: navy;
  --third-alpha-color: rgba(32, 42, 68, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font-family: "Arvo", serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

.background {
  background-color: var(--white-color);
}

/****************Reset ****************/
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: "Arvo", serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/**************Components*************/


/*CONTACT FORM*/

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  border-bottom: thin solid var(--gray-dark-color);
  padding-left: 0;
}

.contact form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--gray-dark-color);
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}



@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }

  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}

/*HeroImage*/
.hero-image-testimonial {
  background-image: url('assets/hero-image-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed; /*para que no scrolle*/
  
}

.hero-image {
  background-image: url('assets/hero-image-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed; /*para que no scrolle*/
  margin-top: -60px;
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw;
  color: #ffffff;
  height: 35vh; /* fija la altura del bloque */
  display: flex;
  align-items: center; /* centra verticalmente */
  justify-content: center;
}






/**************Utilities***************/


.text-first-color {
  color: var(--first-color);
  padding-bottom: 10px;
}

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 12.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.gray-scale {
  filter: grayscale(1);
}

.none {
  display: none;
}

.section {
  height: 100vh;
  padding: 2rem 1rem;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  width: 250px;
  margin: 0rem auto 3rem auto;
  padding: 0.5rem 0rem;
  text-align: center;
  color: var(--title-color);
  font-style: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}

/******* Flickity ************/

.avatar {
  border: 3px solid navy !important; 
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: grab;
}

.carousel-cliente {
  background: var(--carousel-bg-color);
}

.carousel-cell-cliente {
  display: flex;              /* Activa flexbox */
  justify-content: center;    /* Centra horizontalmente */
  align-items: center;        /* Centra verticalmente */
  flex-direction: column; 
  width: 80%;
  margin-right: 20px;
  height: 350px;
  background: var(--white-alpha-color);
  border-radius: 15px;
}

.cliente-foto {
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.cliente-foto .especial {
  padding: 13px;
}

.cliente-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  width: 100%;
  margin: 0;
  padding: 25px;
  text-align: center;
}

.hero-image-fondo {
  background-image: url("assets/hero-image-customers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll; /*para que no scrolle*/
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--white-alpha-color);
}

.hero-image-opacity_2 {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--white-alpha-color);
}

.flickity-page-dots .dot {
  background: var(--first-color);
}

/**************About***********/

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-div{
  display: flex;
  flex-direction: row;
  justify-content:  center;
  align-items: flex-start;
  gap: 50px; 
}

.about-div > article {
  flex: 1; /* cada uno ocupa el mismo ancho */
  min-width: 450px; /* evita que se encojan demasiado */
}

/* solo el segundo article (el de la foto) */
.about-div > article:nth-child(2) {
  display: flex;
  align-self: center;
}

.about-div p{
  font-size: 1.1rem;
}

.about-div h5{
  font-size: 1.1rem;
}

.imagen-foto {
  display: block; /* el valor normal para img */
  margin: 0 auto; /* centra horizontalmente */
  border: thick solid black;
  max-width: 350px; /* opcional, para controlar el tama침o */
  border-radius: 10px; /* si quieres esquinas redondeadas */
}


/**************My Skills***********/
.skills-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.skills-container h3{
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  background-color: var(--first-color);
  text-align: center;
  color: var(--white-color);
  font-size: 1.2rem;
}



/**************Site Styles ***********/



.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
}

.contact-card > small {
  margin-top: -1rem;
}

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--third-color);
}

/*MENU*/
/* Footer fijo abajo */
.header {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background: transparent;
  z-index: 1000;
}

.menu-icon {
  width: 40px;
  height: 40px;
  fill: var(--white-color);
  margin-bottom: 15px;
}

/* Sidebar oculto */
.sidebar {
  position: fixed;
  top: 10px; 
  right: 10px;
  width: 350px;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 4px 20px 10px 20px;
  opacity: 0;
  transform: translateY(10px); /* 游녣 para efecto */
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* para que no interfiera cuando est치 oculto */
  z-index: 2000;
  display: flex;
  flex-direction: column;
}

/* Cuando est치 abierto */
.sidebar.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.sidebar a {
  display: block;
  text-decoration: none;
  text-align: end;
  color: navy;
  padding: 0.8rem 0rem;
  font-size: 1.5rem;
  position: relative;
  transition: color 0.3s ease, translate 0.3s ease;
}

.sidebar a:hover {
  color: navy;
  font-weight: bold;
  font-size: 1.6rem;
}

.sidebar nav a {
  opacity: 0;
  transform: translateX(20px);

}

.sidebar.open nav a {
  animation: slideIn 0.4s forwards;
}

.sidebar.open nav a:nth-child(1) { animation-delay: 0.1s; }
.sidebar.open nav a:nth-child(2) { animation-delay: 0.2s; }
.sidebar.open nav a:nth-child(3) { animation-delay: 0.3s; }
.sidebar.open nav a:nth-child(4) { animation-delay: 0.4s; }
.sidebar.open nav a:nth-child(5) { animation-delay: 0.5s; }

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.close-btn {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  align-self: flex-end;
  color: navy;
  padding-bottom: 15px;
}

.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
  transition: all 0.3s ease-in-out;
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  opacity: 0; /*paraque no se vea hasta que lo activemos*/
  transition: opacity 0.5s ease; /*el efecto*/
  pointer-events: none; /*para que no sea interactivo porque la opacidad esta 0*/
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

.menu-icon {
  width: 45px;   /* cambia aqu칤 el tama침o */
  height: 45px;
  cursor: pointer;
  margin-left: auto;
}

/* estilo de las l칤neas */
.menu-path {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  transition: stroke 0.5s ease;
  transition: opacity 0.3s ease-in-out;
}

.menu-path.highlight {
  stroke: navy; /* 游녣 tu color elegido */
}

/* ejemplo hover */
.menu-icon:hover .menu-path {

  opacity: 0.7;
}

.logo-menu{
  display: flex;
  direction: horizontal;
  align-items: center;
  padding-left: 35px;
  padding-right: 20px;
  position: relative;
}


.rlogo {
  width: 70px;
  height: 70px;
  fill: var(--white-color); 
  transition: fill 0.5s ease;
  transition: opacity 0.3s ease-in-out;
}

.rlogo:hover {
  opacity: 0.7;
}

.rlogo.highlight {
  fill: navy; /* 游녣 tu color elegido */
}

.rlogo-text{
  font-weight: 700;
  font-style: normal;
  color: var(--white-color);
  font-size: 2.7rem;
  text-decoration: none;
  margin-left: 0px;
  opacity: 0;           /* por defecto invisible */
  transition: opacity 0.5s ease;
}

.rlogo-text.visible {
  opacity: 1; 
}

.rlogo-text.hidden {
  opacity: 0; 
  pointer-events: none;
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

/********Proyects********/

.portfolio{
  background-color: var(--gray-color);
}

.portfolio-card {
  position: relative;
  width: 100%;
  height: 360px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: "background 0.5s ease";
  padding: 30px;
}

.proyectsImg {
  width: auto;
  height: 300px;
  object-fit:contain; 
}

.portfolio-card-info h3 {
  text-align: center;
}

.portfolio-card-info p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.portfolio-card-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--first-alpha-color);
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}

.portfolio-modal {
  background-color: var(--white-color);
  padding: 1.5rem 2rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.portfolio-modal img {
  max-width: 300px;
  height: 400px;
  object-fit: contain; /*para que no pierda el aspecto la imagen si es de diferente tama침o*/
}

.portfolio-modal h2 {
  border-bottom: medium solid var(--first-color);
  padding: 0.5rem 0;
  margin: 1rem auto;
  color: var(--title-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 1.8rem;
  font-size: 1rem;
}

.portfolio-details b {
  color: var(--first-color);
}

.portfolio-info{
  padding-left: 15px;
}

.portfolio-info p{
  text-align: justify;
  font-size: 1.1rem;
}

.social-media a {
  text-decoration: none;
  padding: 0 0.4rem;
}

.social-media svg {
  width: 1.5rem;
  height: 1.5rem;
}

/*VENTANA MODAL*/
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
  
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}


@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio .section-title {
    grid-column: span 2;
  }

  .portfolio-modal {
    flex-direction: row;
    max-width: 800px;
  }

  .portfolio-info {
    margin: 1rem;
    align-self: center;
  }

}

@media screen and (min-width: 1024px) {
  /*.about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }*/

  .contact-cards {
    grid-template-columns: repeat(4, 24%);
  }

  .footer {
    margin-bottom: 0;
  }

  .header {
    position: sticky;
    top: 0;
    padding: 0.8rem 0.5rem ;
    height: calc(var(--header-height) - 0.5rem);
  }

  .portfolio > .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio .section-title {
    grid-column: span 3;
  }

}
